.carousel img {
  height: 400px;
  width: 600px;
  border: 1px solid #999;
}

.carousel {
  width: 600px;
  height: 400px;
}

.amenities {
  flex: 1;
  padding-left: 60px;
}

.amenities ul li {
    margin-bottom: 10px;
    font-weight: 300;
    color: #4A3D33;
    background: #fff;
}

.slick-slide {
  width: 600px
}
/* line 1, app/assets/stylesheets/common.sass */
.navigation {
  background-color: #222;
  font-size: 14px;
  position: absolute;
  opacity: 0.8;
  padding: 10px;
  width: 100%;
}

/* line 8, app/assets/stylesheets/common.sass */
.navigation ul {
  padding-bottom: 0;
  display: inline;
}

/* line 11, app/assets/stylesheets/common.sass */
.navigation ul li {
  display: inline-block;
  padding: 5px 3px;
  padding-top: 7px;
  margin-left: 58px;
}

/* line 16, app/assets/stylesheets/common.sass */
.navigation ul li a {
  color: white;
}

/* line 18, app/assets/stylesheets/common.sass */
.navigation ul li a i {
  margin-right: 3px;
  position: relative;
  top: 2px;
}

/* line 22, app/assets/stylesheets/common.sass */
.navigation ul li a:hover {
  color: #7CC89D;
}

/* line 25, app/assets/stylesheets/common.sass */
div.place-card.place-card-large {
  display: none !important;
}

/* line 28, app/assets/stylesheets/common.sass */
.footer {
  padding: 0;
  padding-bottom: 20px;
  border-top: 4px solid #7CC89D;
  background-color: #222;
  opacity: 1.8;
  height: 210px;
  padding-top: 20px;
}

/* line 36, app/assets/stylesheets/common.sass */
.footer * {
  font-size: 12px;
}

/* line 38, app/assets/stylesheets/common.sass */
.footer .col-1 {
  flex: 1;
  padding-left: 50px;
  text-align: center;
}

/* line 42, app/assets/stylesheets/common.sass */
.footer .col-1 .copyright {
  padding: 0;
}

/* line 44, app/assets/stylesheets/common.sass */
.footer .col-1 img {
  height: 100px;
}

/* line 46, app/assets/stylesheets/common.sass */
.footer .col-2 {
  flex: 1;
  padding-left: 55px;
}

/* line 49, app/assets/stylesheets/common.sass */
.footer .col-3 {
  flex: 1;
  padding-left: 25px;
}

/* line 52, app/assets/stylesheets/common.sass */
.footer .col-4 {
  flex: 1;
  padding-left: 70px;
}

/* line 55, app/assets/stylesheets/common.sass */
.footer .wrapper {
  display: flex;
  min-width: 82em;
}

/* line 59, app/assets/stylesheets/common.sass */
.banner {
  border: 2px solid #7CC89D;
  font-size: 32px;
  position: relative;
  top: -70px;
  padding: 12px;
  font-weight: 700;
  background-color: #7CC89D;
  border-radius: 10px;
  opacity: 0.9;
  display: inline-block;
  color: white;
}
/* line 1, app/assets/stylesheets/contact.sass */
form div {
  margin-bottom: 20px;
}

/* line 4, app/assets/stylesheets/contact.sass */
form label {
  margin-bottom: 5px;
  display: inline-block;
}

/* line 8, app/assets/stylesheets/contact.sass */
h3 {
  margin-bottom: 30px;
}

/* line 11, app/assets/stylesheets/contact.sass */
input, textarea {
  border-width: 1px;
}

/* line 14, app/assets/stylesheets/contact.sass */
#navigation {
  position: inherit;
}

/* line 17, app/assets/stylesheets/contact.sass */
body {
  width: 100%;
}
/* line 1, app/assets/stylesheets/services.sass */
main ul li {
  margin-top: 20px;
  font-weight: 300;
  color: #4A3D33;
  background: #fff;
}

/* line 7, app/assets/stylesheets/services.sass */
.flexbox {
  display: flex;
}

/* line 10, app/assets/stylesheets/services.sass */
.meals .panel {
  flex: 1;
  padding: 20px;
}

/* line 14, app/assets/stylesheets/services.sass */
.meals .panel img {
  border: 2px solid #7CC89D;
}

/* line 17, app/assets/stylesheets/services.sass */
.divider {
  border: 1px solid #7CC89D;
  border-width: 1px;
  height: 1px;
  border-bottom-width: 0;
  margin-bottom: 40px;
}
/* line 1, app/assets/stylesheets/studios.sass */
.carousel img {
  height: 400px;
  width: 600px;
  border: 1px solid #999;
}

/* line 6, app/assets/stylesheets/studios.sass */
.carousel {
  width: 600px;
  height: 400px;
}

/* line 10, app/assets/stylesheets/studios.sass */
.amenities ul li {
  margin-bottom: 10px;
  font-weight: 300;
  color: #4A3D33;
  background: #fff;
}

/* line 16, app/assets/stylesheets/studios.sass */
.slick-slide {
  width: 600px;
}
/* line 3, app/assets/stylesheets/style.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 9, app/assets/stylesheets/style.scss */
body {
  margin: 0;
}

/* line 13, app/assets/stylesheets/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, app/assets/stylesheets/style.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 22, app/assets/stylesheets/style.scss */
[hidden], template {
  display: none;
}

/* line 26, app/assets/stylesheets/style.scss */
a {
  background-color: transparent;
}

/* line 30, app/assets/stylesheets/style.scss */
a:active, a:hover {
  outline: 0;
}

/* line 34, app/assets/stylesheets/style.scss */
b, strong {
  font-weight: bold;
}

/* line 38, app/assets/stylesheets/style.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 43, app/assets/stylesheets/style.scss */
img {
  border: 0;
}

/* line 47, app/assets/stylesheets/style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 51, app/assets/stylesheets/style.scss */
figure {
  margin: 1em 40px;
}

/* line 55, app/assets/stylesheets/style.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 60, app/assets/stylesheets/style.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 66, app/assets/stylesheets/style.scss */
button {
  overflow: visible;
}

/* line 70, app/assets/stylesheets/style.scss */
button, select {
  text-transform: none;
}

/* line 74, app/assets/stylesheets/style.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 79, app/assets/stylesheets/style.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 83, app/assets/stylesheets/style.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 88, app/assets/stylesheets/style.scss */
input {
  line-height: normal;
}

/* line 92, app/assets/stylesheets/style.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 97, app/assets/stylesheets/style.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 101, app/assets/stylesheets/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 106, app/assets/stylesheets/style.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 110, app/assets/stylesheets/style.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 116, app/assets/stylesheets/style.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 121, app/assets/stylesheets/style.scss */
textarea {
  overflow: auto;
}

/* line 125, app/assets/stylesheets/style.scss */
optgroup {
  font-weight: bold;
}

/* line 129, app/assets/stylesheets/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 134, app/assets/stylesheets/style.scss */
td, th {
  padding: 0;
}

/* line 138, app/assets/stylesheets/style.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 152, app/assets/stylesheets/style.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

/* line 160, app/assets/stylesheets/style.scss */
.slick-list:focus {
  outline: none;
}

/* line 164, app/assets/stylesheets/style.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 169, app/assets/stylesheets/style.scss */
.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 174, app/assets/stylesheets/style.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

/* line 181, app/assets/stylesheets/style.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

/* line 186, app/assets/stylesheets/style.scss */
.slick-track:after {
  clear: both;
}

/* line 190, app/assets/stylesheets/style.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 194, app/assets/stylesheets/style.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

/* line 201, app/assets/stylesheets/style.scss */
[dir="rtl"] .slick-slide {
  float: right;
}

/* line 205, app/assets/stylesheets/style.scss */
.slick-slide img {
  display: block;
}

/* line 209, app/assets/stylesheets/style.scss */
.slick-slide.slick-loading img {
  display: none;
}

/* line 213, app/assets/stylesheets/style.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 217, app/assets/stylesheets/style.scss */
.slick-initialized .slick-slide {
  display: block;
}

/* line 221, app/assets/stylesheets/style.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 225, app/assets/stylesheets/style.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 231, app/assets/stylesheets/style.scss */
.slick-arrow.slick-hidden {
  display: none;
}

@media all {
  /* line 236, app/assets/stylesheets/style.scss */
  .featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
    background: transparent;
  }
  /* line 250, app/assets/stylesheets/style.scss */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
  }
  /* line 253, app/assets/stylesheets/style.scss */
  .featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  /* line 260, app/assets/stylesheets/style.scss */
  .featherlight .featherlight-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: #fff;
    cursor: auto;
    white-space: normal;
  }
  /* line 275, app/assets/stylesheets/style.scss */
  .featherlight .featherlight-inner {
    display: block;
  }
  /* line 278, app/assets/stylesheets/style.scss */
  .featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    line-height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    color: #000;
  }
  /* line 292, app/assets/stylesheets/style.scss */
  .featherlight .featherlight-image {
    width: 100%;
  }
  /* line 295, app/assets/stylesheets/style.scss */
  .featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0;
  }
  /* line 299, app/assets/stylesheets/style.scss */
  .featherlight iframe {
    border: none;
  }
  /* line 302, app/assets/stylesheets/style.scss */
  .featherlight * {
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 1024px) {
  /* line 308, app/assets/stylesheets/style.scss */
  .featherlight .featherlight-content {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}

/* line 317, app/assets/stylesheets/style.scss */
.sr {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/* line 328, app/assets/stylesheets/style.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 334, app/assets/stylesheets/style.scss */
body {
  margin: 0;
}

/* line 338, app/assets/stylesheets/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 342, app/assets/stylesheets/style.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 347, app/assets/stylesheets/style.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 352, app/assets/stylesheets/style.scss */
[hidden], template {
  display: none;
}

/* line 356, app/assets/stylesheets/style.scss */
a {
  background-color: transparent;
}

/* line 360, app/assets/stylesheets/style.scss */
a:active, a:hover {
  outline: 0;
}

/* line 364, app/assets/stylesheets/style.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 368, app/assets/stylesheets/style.scss */
b, strong {
  font-weight: bold;
}

/* line 372, app/assets/stylesheets/style.scss */
dfn {
  font-style: italic;
}

/* line 376, app/assets/stylesheets/style.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 381, app/assets/stylesheets/style.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 386, app/assets/stylesheets/style.scss */
small {
  font-size: 80%;
}

/* line 390, app/assets/stylesheets/style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 397, app/assets/stylesheets/style.scss */
sup {
  top: -0.5em;
}

/* line 401, app/assets/stylesheets/style.scss */
sub {
  bottom: -0.25em;
}

/* line 405, app/assets/stylesheets/style.scss */
img {
  border: 0;
}

/* line 409, app/assets/stylesheets/style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 413, app/assets/stylesheets/style.scss */
figure {
  margin: 1em 40px;
}

/* line 417, app/assets/stylesheets/style.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 422, app/assets/stylesheets/style.scss */
pre {
  overflow: auto;
}

/* line 426, app/assets/stylesheets/style.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 431, app/assets/stylesheets/style.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 437, app/assets/stylesheets/style.scss */
button {
  overflow: visible;
}

/* line 441, app/assets/stylesheets/style.scss */
button, select {
  text-transform: none;
}

/* line 445, app/assets/stylesheets/style.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 450, app/assets/stylesheets/style.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 454, app/assets/stylesheets/style.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 459, app/assets/stylesheets/style.scss */
input {
  line-height: normal;
}

/* line 463, app/assets/stylesheets/style.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 468, app/assets/stylesheets/style.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 472, app/assets/stylesheets/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 477, app/assets/stylesheets/style.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 481, app/assets/stylesheets/style.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 487, app/assets/stylesheets/style.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 492, app/assets/stylesheets/style.scss */
textarea {
  overflow: auto;
}

/* line 496, app/assets/stylesheets/style.scss */
optgroup {
  font-weight: bold;
}

/* line 500, app/assets/stylesheets/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 505, app/assets/stylesheets/style.scss */
td, th {
  padding: 0;
}

/* line 509, app/assets/stylesheets/style.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 513, app/assets/stylesheets/style.scss */
html {
  font: 1em/1.2 "Lato", sans-serif;
  color: #4A3D33;
  background: #fff;
}

/* line 519, app/assets/stylesheets/style.scss */
body {
  position: relative;
}

/* line 523, app/assets/stylesheets/style.scss */
main {
  padding-top: 1em;
}

/* line 527, app/assets/stylesheets/style.scss */
.wrapper {
  margin: 0 auto;
  max-width: 64em;
  padding: 0 2em;
}

@media (min-width: 80em) {
  /* line 534, app/assets/stylesheets/style.scss */
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 540, app/assets/stylesheets/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .75em;
  line-height: 1;
}

/* line 545, app/assets/stylesheets/style.scss */
h1, h2, h3 {
  font-weight: 700;
}

/* line 549, app/assets/stylesheets/style.scss */
h4, h5, h6 {
  font-weight: 700;
}

/* line 553, app/assets/stylesheets/style.scss */
h1 {
  font-size: 1.875em;
  margin-bottom: .25em;
}

@media (min-width: 60em) {
  /* line 559, app/assets/stylesheets/style.scss */
  h1 {
    font-size: 2.5em;
  }
}

/* line 564, app/assets/stylesheets/style.scss */
h2 {
  font-size: 1.5em;
  margin-bottom: .2em;
}

@media (min-width: 60em) {
  /* line 570, app/assets/stylesheets/style.scss */
  h2 {
    font-size: 1.875em;
    margin-bottom: .75em;
  }
}

/* line 576, app/assets/stylesheets/style.scss */
h3 {
  font-size: 1.125em;
  margin-bottom: .75em;
}

/* line 581, app/assets/stylesheets/style.scss */
h4 {
  font-size: 1.0625em;
  margin-bottom: 1em;
  margin-bottom: 0;
}

/* line 587, app/assets/stylesheets/style.scss */
h5 {
  font-size: 1em;
  margin-bottom: 1em;
}

/* line 592, app/assets/stylesheets/style.scss */
h6 {
  font-size: .875em;
  margin-bottom: 1em;
}

/* line 597, app/assets/stylesheets/style.scss */
p {
  margin: 1.5em 0;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width: 40em) {
  /* line 604, app/assets/stylesheets/style.scss */
  p.intro {
    max-width: 60%;
    clear: both;
    margin: inherit 0 2em;
  }
}

/* line 611, app/assets/stylesheets/style.scss */
hr {
  border-top: none;
  border-top: 0.1em solid #4A3D33;
  display: block;
  margin: 1em 0 2em;
  clear: both;
}

/* line 619, app/assets/stylesheets/style.scss */
q, blockquote, cite {
  font-style: normal;
}

/* line 623, app/assets/stylesheets/style.scss */
blockquote {
  margin: 0;
  font-family: "Merriweather", serif;
  padding: 5em 1em;
}

/* line 629, app/assets/stylesheets/style.scss */
blockquote p {
  font-weight: 100;
  font-size: .8em;
  line-height: 1.6;
}

/* line 635, app/assets/stylesheets/style.scss */
blockquote h3 {
  font-size: 1.2em;
  line-height: 1.3;
  margin-top: 0;
}

/* line 641, app/assets/stylesheets/style.scss */
blockquote cite {
  font-size: .8em;
  font-family: "Lato", sans-serif;
}

/* line 646, app/assets/stylesheets/style.scss */
blockquote cite .location {
  font-weight: 100;
}

/* line 650, app/assets/stylesheets/style.scss */
.main-content blockquote {
  padding: .5em 2em 1em;
  position: relative;
}

/* line 655, app/assets/stylesheets/style.scss */
.main-content blockquote:before {
  font-family: "rb" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\63";
  position: absolute;
  font-size: 3em;
  z-index: 0;
  opacity: .1;
  left: 0;
}

/* line 674, app/assets/stylesheets/style.scss */
a {
  text-decoration: none;
  color: #000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 681, app/assets/stylesheets/style.scss */
a:hover, a:active, a:focus {
  color: #ccc;
}

/* line 685, app/assets/stylesheets/style.scss */
ul, ol {
  font-size: 1em;
  padding-left: 1em;
  padding-bottom: .5em;
  margin-left: 1em;
}

/* line 692, app/assets/stylesheets/style.scss */
.no-bullets {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 698, app/assets/stylesheets/style.scss */
.list--side {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 704, app/assets/stylesheets/style.scss */
.list--side > li, .list--side > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

/* line 710, app/assets/stylesheets/style.scss */
.main-content li {
  margin-bottom: .9em;
  padding-left: .6em;
  font-weight: 100;
}

/* line 716, app/assets/stylesheets/style.scss */
code, pre {
  background: #f2f2f2;
  border: 1px solid #CCC;
  padding: 0 .2em;
  border-radius: .2em;
}

/* line 723, app/assets/stylesheets/style.scss */
code {
  display: inline-block;
}

/* line 727, app/assets/stylesheets/style.scss */
table {
  width: 100%;
  text-align: left;
}

/* line 732, app/assets/stylesheets/style.scss */
td, th {
  padding: 1em;
  border: 1px solid #000;
}

/* line 737, app/assets/stylesheets/style.scss */
thead th, thead td {
  border-bottom: 1px solid #000;
}

/* line 741, app/assets/stylesheets/style.scss */
picture {
  text-align: center;
  display: block;
}

/* line 746, app/assets/stylesheets/style.scss */
img {
  max-width: 100%;
  border: none;
}

/* line 751, app/assets/stylesheets/style.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

/* line 758, app/assets/stylesheets/style.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 766, app/assets/stylesheets/style.scss */
.wrapper, .list--side, .header, .clear, .other-rooms, .media {
  *zoom: 1;
}

/* line 770, app/assets/stylesheets/style.scss */
.wrapper:before, .list--side:before, .header:before, .clear:before, .other-rooms:before, .media:before, .wrapper:after, .list--side:after, .header:after, .clear:after, .other-rooms:after, .media:after {
  content: " ";
  display: table;
}

/* line 775, app/assets/stylesheets/style.scss */
.wrapper:after, .list--side:after, .header:after, .clear:after, .other-rooms:after, .media:after {
  clear: both;
}

/* line 779, app/assets/stylesheets/style.scss */
.wrapper {
  max-width: 64em;
  margin: 0 auto;
}

/* line 784, app/assets/stylesheets/style.scss */
.margin {
  padding: 0 3em;
}

/* line 788, app/assets/stylesheets/style.scss */
.no-margin {
  margin: 0 !important;
}

/* line 792, app/assets/stylesheets/style.scss */
.fr {
  float: right;
}

/* line 796, app/assets/stylesheets/style.scss */
.fl {
  float: left;
}

/* line 800, app/assets/stylesheets/style.scss */
.center {
  text-align: center;
}

/* line 804, app/assets/stylesheets/style.scss */
form {
  padding-bottom: 1em;
  overflow: hidden;
}

/* line 809, app/assets/stylesheets/style.scss */
input, button, textarea, select, .button {
  border: .1em solid #000;
  padding: .7em;
  background: #fff;
  color: #4A3D33;
  border-radius: 0;
}

/* line 817, app/assets/stylesheets/style.scss */
fieldset {
  padding: 0;
  margin: 0 0 3em;
  border: none;
}

/* line 823, app/assets/stylesheets/style.scss */
input, button, textarea, select, .button {
  -webkit-appearance: none;
  display: inline-block;
  width: 100%;
  font: inherit;
  outline: none;
  -webkit-transition: .25s box-shadow, .25s border;
  transition: .25s box-shadow, .25s border;
}

/* line 833, app/assets/stylesheets/style.scss */
input:disabled, button:disabled, textarea:disabled, select:disabled, .button:disabled {
  color: #A9A9A9;
  background: #f2f2f2;
}

/* line 838, app/assets/stylesheets/style.scss */
input:focus, button:focus, textarea:focus, select:focus, .button:focus {
  background: #f2f2f2;
}

/* line 842, app/assets/stylesheets/style.scss */
select {
  width: 100%;
  display: block;
  padding-right: 2em;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

/* line 851, app/assets/stylesheets/style.scss */
select::-ms-expand {
  display: none;
}

/* line 855, app/assets/stylesheets/style.scss */
.select {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* line 861, app/assets/stylesheets/style.scss */
textarea {
  resize: vertical;
  min-height: 7em;
}

/* line 866, app/assets/stylesheets/style.scss */
.select:after {
  content: "\25bc";
  color: #7CC89D;
  display: inline-block;
  padding: 0 .75em;
  speak: none;
  pointer-events: none;
  font-size: .75em;
  line-height: 2.5em;
  position: absolute;
  top: .1em;
  bottom: .1em;
  right: .1em;
  background: #fff;
  border: 0.5em solid #f2f2f2;
}

/* line 883, app/assets/stylesheets/style.scss */
input[type="checkbox"] {
  -webkit-appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .1em;
}

/* line 890, app/assets/stylesheets/style.scss */
input[type="radio"] {
  -webkit-appearance: radio;
  display: inline-block;
  width: auto;
  margin: 0 .1em;
}

/* line 897, app/assets/stylesheets/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

/* line 902, app/assets/stylesheets/style.scss */
form div.wpcf7-response-output {
  display: block;
  font-weight: 700;
  border: none;
  padding: 2.2em 1em;
  text-align: center;
}

/* line 910, app/assets/stylesheets/style.scss */
form div.wpcf7-validation-errors {
  color: #f00;
  background: #ffd6d6;
}

/* line 915, app/assets/stylesheets/style.scss */
form div.wpcf7-mail-sent-ok {
  color: green;
  background: #bddab1;
}

/* line 920, app/assets/stylesheets/style.scss */
form span.wpcf7-not-valid-tip {
  font-weight: 700;
}

/* line 924, app/assets/stylesheets/style.scss */
input[type="submit"], input[type="reset"], input[type="button"], button, .btn {
  display: inline-block;
  width: auto;
  padding: 1em 2em;
  margin: 0 .1em;
  box-shadow: none !important;
  outline: none;
  -webkit-transition: .35s all ease;
  transition: .35s all ease;
  border: none;
  color: #fff;
  background: #4A3D33;
  text-align: center;
  font-weight: 400;
  border: #4A3D33 2px solid;
}

/* line 941, app/assets/stylesheets/style.scss */
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .btn:hover {
  background: transparent;
  cursor: pointer;
  color: #4A3D33;
}

@font-face {
  font-family: "rb";
  src: url(/fonts/rb.eot);
  src: url(/fonts/rb.eot?#iefix) format("embedded-opentype"), url(/fonts/rb.woff) format("woff"), url(/fonts/rb.ttf) format("truetype"), url(/fonts/rb.svg#rb) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 955, app/assets/stylesheets/style.scss */
[data-icon]:before {
  font-family: "rb" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 968, app/assets/stylesheets/style.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "rb" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 980, app/assets/stylesheets/style.scss */
.icon-binoculars:before {
  content: "\61";
}

/* line 984, app/assets/stylesheets/style.scss */
.icon-quote-close:before {
  content: "\62";
}

/* line 988, app/assets/stylesheets/style.scss */
.icon-quote-open:before {
  content: "\63";
}

/* line 992, app/assets/stylesheets/style.scss */
.icon-broom:before {
  content: "\64";
}

/* line 996, app/assets/stylesheets/style.scss */
.icon-right:before {
  content: "\65";
}

/* line 1000, app/assets/stylesheets/style.scss */
.icon-call:before {
  content: "\66";
}

/* line 1004, app/assets/stylesheets/style.scss */
.icon-camera:before {
  content: "\67";
}

/* line 1008, app/assets/stylesheets/style.scss */
.icon-swimming:before {
  content: "\68";
}

/* line 1012, app/assets/stylesheets/style.scss */
.icon-up:before {
  content: "\69";
}

/* line 1016, app/assets/stylesheets/style.scss */
.icon-chat:before {
  content: "\6a";
}

/* line 1020, app/assets/stylesheets/style.scss */
.icon-computer:before {
  content: "\6b";
}

/* line 1024, app/assets/stylesheets/style.scss */
.icon-wifi:before {
  content: "\6c";
}

/* line 1028, app/assets/stylesheets/style.scss */
.icon-zoom:before {
  content: "\6d";
}

/* line 1032, app/assets/stylesheets/style.scss */
.icon-down:before {
  content: "\6e";
}

/* line 1036, app/assets/stylesheets/style.scss */
.icon-heart:before {
  content: "\6f";
}

/* line 1040, app/assets/stylesheets/style.scss */
.icon-home:before {
  content: "\70";
}

/* line 1044, app/assets/stylesheets/style.scss */
.icon-lamp:before {
  content: "\71";
}

/* line 1048, app/assets/stylesheets/style.scss */
.icon-left:before {
  content: "\72";
}

/* line 1052, app/assets/stylesheets/style.scss */
.icon-mail:before {
  content: "\73";
}

/* line 1056, app/assets/stylesheets/style.scss */
.icon-pin:before {
  content: "\74";
}

/* line 1060, app/assets/stylesheets/style.scss */
.icon-tick:before {
  content: "\75";
}

/* line 1064, app/assets/stylesheets/style.scss */
.top {
  background: #4A3D33;
  color: #fff;
  z-index: 6;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
}

/* line 1074, app/assets/stylesheets/style.scss */
.top .wrapper {
  padding: 0;
}

/* line 1078, app/assets/stylesheets/style.scss */
.top .nav-toggle {
  position: relative;
}

/* line 1082, app/assets/stylesheets/style.scss */
.top .nav-toggle div {
  position: absolute;
  top: 1.45em;
  left: 1.25em;
}

@media (min-width: 40em) {
  /* line 1089, app/assets/stylesheets/style.scss */
  .top .nav-toggle {
    display: none;
  }
}

/* line 1094, app/assets/stylesheets/style.scss */
.top .bar {
  width: 22px;
  height: 4px;
  background: #fff;
  display: block;
  border-radius: .4em;
  position: absolute;
  -webkit-transition: all 0.4s cubic-bezier(1, -0.15, 0.14, 1.25);
  transition: all 0.4s cubic-bezier(1, -0.15, 0.14, 1.25);
}

/* line 1105, app/assets/stylesheets/style.scss */
.top .bar.bar--mid {
  top: .5em;
}

/* line 1109, app/assets/stylesheets/style.scss */
.top .bar.bar--bot {
  top: 1em;
}

/* line 1113, app/assets/stylesheets/style.scss */
.csstransforms .top .nav-toggle.active .bar--top {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: .5em;
}

/* line 1119, app/assets/stylesheets/style.scss */
.csstransforms .top .nav-toggle.active .bar--bot {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -.5em;
}

/* line 1125, app/assets/stylesheets/style.scss */
.csstransforms .top .nav-toggle.active .bar--mid {
  opacity: 0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 1131, app/assets/stylesheets/style.scss */
.top .label {
  position: relative;
  margin-left: 3em;
  display: block;
}

/* line 1137, app/assets/stylesheets/style.scss */
.top .lang {
  background: #6A594C;
  position: relative;
}

@media (min-width: 40em) {
  /* line 1143, app/assets/stylesheets/style.scss */
  .top .lang {
    max-width: 10em;
  }
}

/* line 1148, app/assets/stylesheets/style.scss */
.top .lang i {
  font-size: 1.8em;
  position: absolute;
  right: 4em;
  top: .75em;
}

/* line 1155, app/assets/stylesheets/style.scss */
.top a {
  color: #fff;
  display: inline-block;
  width: 49%;
  padding: 1.5em .75em;
}

/* line 1162, app/assets/stylesheets/style.scss */
.top a + a {
  text-align: right;
  float: right;
  padding-right: 1.5em;
}

/* line 1168, app/assets/stylesheets/style.scss */
.logo {
  display: block;
}

/* line 1172, app/assets/stylesheets/style.scss */
.logo picture, .logo img {
  display: block;
  margin: 1.5em auto;
}

/* line 1177, app/assets/stylesheets/style.scss */
.footer {
  background: #4A3D33;
  padding: 3em 0;
}

/* line 1182, app/assets/stylesheets/style.scss */
.footer address {
  font-style: normal;
  line-height: 1.6;
}

/* line 1187, app/assets/stylesheets/style.scss */
.footer ul {
  margin-left: 0;
  padding: 0 1em;
  list-style: none;
  margin-bottom: 0;
}

/* line 1194, app/assets/stylesheets/style.scss */
.footer ul > :last-child {
  margin-bottom: 0;
}

/* line 1198, app/assets/stylesheets/style.scss */
.footer li {
  color: #fff;
  font-size: .9em;
  font-weight: 100;
  margin-bottom: 1em;
  position: relative;
  padding-left: 2em;
}

/* line 1207, app/assets/stylesheets/style.scss */
.footer li i {
  position: absolute;
  font-size: 1.2em;
  left: 0;
  top: 0;
}

/* line 1214, app/assets/stylesheets/style.scss */
.footer li .icon-pin {
  top: .2em;
}

/* line 1218, app/assets/stylesheets/style.scss */
.footer a {
  color: #fff;
  text-decoration: none;
}

/* line 1223, app/assets/stylesheets/style.scss */
.footer .footer--sec {
  text-align: center;
  margin-bottom: 3em;
}

/* line 1228, app/assets/stylesheets/style.scss */
.footer .copyright {
  margin-top: 2em;
  color: #fff;
  font-size: .8em;
  font-weight: 100;
  padding-left: 1.2em;
}

@media (min-width: 60em) {
  /* line 1237, app/assets/stylesheets/style.scss */
  .footer .wrapper {
    padding-left: 0;
    padding-top: 0em;
  }
  /* line 1241, app/assets/stylesheets/style.scss */
  .footer .col--half {
    float: right;
  }
  /* line 1244, app/assets/stylesheets/style.scss */
  .footer .col--half + .col--half {
    float: left;
  }
  /* line 1247, app/assets/stylesheets/style.scss */
  .footer .copyright {
    padding-top: 10em;
  }
}

/* line 1252, app/assets/stylesheets/style.scss */
.menu {
  background: #2c241e;
}

/* line 1256, app/assets/stylesheets/style.scss */
.menu .wrapper {
  padding-left: 0;
  padding-right: 0;
}

/* line 1261, app/assets/stylesheets/style.scss */
.menu h3 {
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

/* line 1267, app/assets/stylesheets/style.scss */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 1273, app/assets/stylesheets/style.scss */
.menu a {
  color: #fff;
  display: block;
  background: #7CC89D;
  border-bottom: #2c241e 1px solid;
  padding: 1em 1.2em;
  position: relative;
  padding-left: 4em;
}

@media (min-width: 60em) {
  /* line 1284, app/assets/stylesheets/style.scss */
  .menu a {
    padding-left: 5em;
  }
}

/* line 1289, app/assets/stylesheets/style.scss */
.menu a i {
  position: absolute;
  font-size: 1.4em;
  left: 1em;
}

@media (min-width: 40em) and (max-width: 59.99em) {
  /* line 1296, app/assets/stylesheets/style.scss */
  .menu a i {
    display: none;
  }
}

@media (min-width: 60em) {
  /* line 1302, app/assets/stylesheets/style.scss */
  .menu a i {
    left: 0;
  }
}

/* line 1307, app/assets/stylesheets/style.scss */
.js .menu h3 {
  display: none;
}

@media (max-width: 39.99em) {
  /* line 1312, app/assets/stylesheets/style.scss */
  .js .menu {
    background: #7CC89D;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 4;
    padding-top: 5em;
    left: -100%;
  }
  /* line 1322, app/assets/stylesheets/style.scss */
  .js .menu.active {
    left: 0;
  }
  /* line 1325, app/assets/stylesheets/style.scss */
  .js .menu a {
    border-bottom: none;
  }
}

@media (max-width: 39.99em) {
  /* line 1331, app/assets/stylesheets/style.scss */
  .js.csstransforms .menu {
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  /* line 1338, app/assets/stylesheets/style.scss */
  .js.csstransforms .menu a {
    -webkit-transition: all .5s ease-in .375s;
    transition: all .5s ease-in .375s;
    opacity: 0;
  }
  /* line 1343, app/assets/stylesheets/style.scss */
  .js.csstransforms .menu.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  /* line 1347, app/assets/stylesheets/style.scss */
  .js.csstransforms .menu.active a {
    opacity: 1.0;
  }
}

@media (min-width: 40em) {
  /* line 1353, app/assets/stylesheets/style.scss */
  .js.csstransforms .menu {
    top: 0;
    position: fixed;
    z-index: 8;
    background: none;
    max-width: 64em;
  }
  /* line 1360, app/assets/stylesheets/style.scss */
  .js.csstransforms .menu li, .js.csstransforms .menu a {
    display: inline-block;
  }
  /* line 1363, app/assets/stylesheets/style.scss */
  .js.csstransforms .menu a {
    background: none;
    border-bottom: none;
    padding: 1.5em 0 1.5em 1.5em;
  }
}

@media (min-width: 60em) {
  /* line 1371, app/assets/stylesheets/style.scss */
  .js.csstransforms .menu {
    left: 50%;
    margin-left: -32em;
  }
  /* line 1375, app/assets/stylesheets/style.scss */
  .js.csstransforms .menu a {
    padding-left: 2em;
    padding-right: 3em;
  }
}

/* line 1381, app/assets/stylesheets/style.scss */
.nav ul, .nav li {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

/* line 1387, app/assets/stylesheets/style.scss */
.nav {
  border-top: #000 1px solid;
  margin-top: 3em;
}

/* line 1392, app/assets/stylesheets/style.scss */
.nav a {
  display: block;
  color: #000;
  font-weight: 700;
  border-bottom: #000 1px solid;
  padding: 1em;
  text-decoration: none;
}

/* line 1401, app/assets/stylesheets/style.scss */
.js .nav {
  margin-top: 0;
  padding: 2em 1em;
  background: #000;
  position: fixed;
  z-index: 95;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: .5;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

/* line 1418, app/assets/stylesheets/style.scss */
.js .nav.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1.0;
}

/* line 1424, app/assets/stylesheets/style.scss */
.js .nav a {
  color: #fff;
}

/* line 1428, app/assets/stylesheets/style.scss */
.hero {
  background: #D35400;
  position: relative;
  overflow: hidden;
}

@media (min-width: 40em) {
  /* line 1435, app/assets/stylesheets/style.scss */
  .hero {
    min-height: 35em;
  }
}

/* line 1440, app/assets/stylesheets/style.scss */
.hero .wrapper {
  position: relative;
  z-index: 4;
}

/* line 1445, app/assets/stylesheets/style.scss */
.hero .wrapper > .logo, .hero .wrapper > .intro {
  color: #fff;
}

/* line 1449, app/assets/stylesheets/style.scss */
.hero .wrapper > .logo {
  margin-top: 35%;
}

/* line 1453, app/assets/stylesheets/style.scss */
.hero .wrapper .intro {
  font-size: 1.2em;
  font-weight: 400;
}

/* line 1458, app/assets/stylesheets/style.scss */
.hero .wrapper .btn-contact {
  background: #4A3D33;
}

@media (max-width: 39.99em) {
  /* line 1463, app/assets/stylesheets/style.scss */
  .hero .wrapper .btn-contact {
    display: block;
  }
}

@media (min-width: 40em) {
  /* line 1469, app/assets/stylesheets/style.scss */
  .hero .wrapper .btn-contact {
    font-weight: 400;
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 60em) {
  /* line 1477, app/assets/stylesheets/style.scss */
  .hero .wrapper .btn-contact:hover {
    background: transparent;
    border-color: #fff;
    cursor: pointer;
    color: #fff;
  }
}

@media (max-width: 79.99em) {
  /* line 1486, app/assets/stylesheets/style.scss */
  .hero .wrapper {
    padding: 0 3em;
  }
}

@media (min-width: 60em) {
  /* line 1492, app/assets/stylesheets/style.scss */
  .hero .wrapper {
    padding-left: 0;
  }
  /* line 1495, app/assets/stylesheets/style.scss */
  .hero .wrapper > .logo {
    margin-top: 15em;
  }
  /* line 1498, app/assets/stylesheets/style.scss */
  .hero .wrapper > * {
    max-width: 40%;
  }
}

/* line 1503, app/assets/stylesheets/style.scss */
.hero .hero-btn {
  display: none;
}

@media (max-width: 39.99em) {
  /* line 1508, app/assets/stylesheets/style.scss */
  .hero {
    height: 91vh;
  }
  /* line 1511, app/assets/stylesheets/style.scss */
  .hero .hero-btn {
    display: block;
    background: #D3712E;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 3;
    border: none;
    font-size: .9em;
    color: #FFFFFF;
    letter-spacing: .149375em;
    text-transform: uppercase;
  }
  /* line 1525, app/assets/stylesheets/style.scss */
  .hero .hero-btn i {
    margin-left: 1em;
    font-size: .9em;
  }
}

/* line 1531, app/assets/stylesheets/style.scss */
.hero .hero__img {
  height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  text-align: center;
}

/* line 1540, app/assets/stylesheets/style.scss */
.hero .hero__img img {
  height: 100vh;
  display: block;
  width: auto;
  display: none;
}

@media (min-width: 40em) {
  /* line 1548, app/assets/stylesheets/style.scss */
  .hero .hero__img img {
    min-height: 0;
    height: auto;
    width: 1044px;
    display: block;
    margin: auto;
  }
}

/* line 1557, app/assets/stylesheets/style.scss */
.hero--pg {
  height: auto;
  min-height: 0;
  padding-bottom: 2em;
}

/* line 1563, app/assets/stylesheets/style.scss */
.hero--pg .wrapper > .logo {
  margin-top: 30%;
}

@media (max-width: 59.99em) {
  /* line 1568, app/assets/stylesheets/style.scss */
  .hero--pg .wrapper > .logo {
    text-align: center;
  }
}

@media (min-width: 40em) {
  /* line 1574, app/assets/stylesheets/style.scss */
  .hero--pg .wrapper > .logo {
    margin-top: 15%;
  }
}

@media (min-width: 60em) {
  /* line 1580, app/assets/stylesheets/style.scss */
  .hero--pg .wrapper > .logo {
    margin-top: 10% !important;
  }
}

/* line 1585, app/assets/stylesheets/style.scss */
.hero--pg .hero-btn {
  display: none;
}

/* line 1589, app/assets/stylesheets/style.scss */
main .welcome {
  padding-top: 2em;
}

@media (max-width: 39.99em) {
  /* line 1594, app/assets/stylesheets/style.scss */
  main .welcome h1 {
    text-align: center;
  }
}

/* line 1599, app/assets/stylesheets/style.scss */
main .welcome .circle {
  max-width: 8.75em;
  margin: 2em auto;
  border: #7CC89D 6px solid;
}

/* line 1605, app/assets/stylesheets/style.scss */
main .welcome .circle ~ p {
  margin-top: .5em;
  margin-bottom: 1em;
  font-size: .9em;
}

@media (min-width: 60em) {
  /* line 1612, app/assets/stylesheets/style.scss */
  main .welcome {
    padding-left: 0;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  /* line 1617, app/assets/stylesheets/style.scss */
  main .welcome h1, main .welcome .media {
    max-width: 67em;
  }
  /* line 1620, app/assets/stylesheets/style.scss */
  main .welcome .circle {
    margin-top: 1em;
  }
}

/* line 1625, app/assets/stylesheets/style.scss */
main .welcome .media__body {
  margin-bottom: 3em;
}

/* line 1629, app/assets/stylesheets/style.scss */
.home__slide {
  background: #7CC89D;
}

/* line 1633, app/assets/stylesheets/style.scss */
.home__slide .wrapper {
  padding-left: 0;
  padding-right: 0;
}

/* line 1638, app/assets/stylesheets/style.scss */
.home__slide img {
  display: block;
  height: auto;
  width: 100%;
}

/* line 1644, app/assets/stylesheets/style.scss */
.home__slide.home__slide--gal {
  background: none;
}

@media (min-width: 60em) {
  /* line 1649, app/assets/stylesheets/style.scss */
  .home__slide .wrapper {
    height: 790px;
    position: relative;
    margin-bottom: 4em;
  }
  /* line 1654, app/assets/stylesheets/style.scss */
  .home__slide .img-lrg-l {
    width: 600px;
    height: 410px;
    overflow: hidden;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* line 1663, app/assets/stylesheets/style.scss */
  .home__slide .img-sm-l {
    width: 415px;
    height: 285px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background: red;
  }
  /* line 1672, app/assets/stylesheets/style.scss */
  .home__slide .img-sm-v {
    width: 295px;
    height: 371px;
    overflow: hidden;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  /* line 1681, app/assets/stylesheets/style.scss */
  .home__slide .img-sm-v + .img-sm-v {
    left: 305px;
  }
  /* line 1684, app/assets/stylesheets/style.scss */
  .home__slide .img-lrg-v {
    width: 415px;
    height: 495px;
    background: red;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/* line 1694, app/assets/stylesheets/style.scss */
.home__q {
  background: #6A594C;
  color: #fff;
}

/* line 1699, app/assets/stylesheets/style.scss */
.home__q .wrapper {
  position: relative;
}

/* line 1703, app/assets/stylesheets/style.scss */
.home__q i {
  position: absolute;
  color: #fff;
  font-size: 4em;
  z-index: 0;
  opacity: .1;
}

@media (min-width: 60em) {
  /* line 1712, app/assets/stylesheets/style.scss */
  .home__q i {
    font-size: 7em;
    opacity: .05;
  }
}

/* line 1718, app/assets/stylesheets/style.scss */
.home__q p {
  font-size: .9375em;
}

/* line 1722, app/assets/stylesheets/style.scss */
.home__q blockquote {
  max-width: 25em;
}

@media (min-width: 40em) {
  /* line 1727, app/assets/stylesheets/style.scss */
  .home__q blockquote h3 {
    margin-bottom: 2em;
  }
}

/* line 1732, app/assets/stylesheets/style.scss */
.home__q .icon-quote-open {
  top: .5em;
}

@media (min-width: 60em) {
  /* line 1737, app/assets/stylesheets/style.scss */
  .home__q .icon-quote-open {
    top: .25em;
    left: -.5em;
  }
}

/* line 1743, app/assets/stylesheets/style.scss */
.home__q .icon-quote-close {
  right: .5em;
  bottom: .5em;
}

@media (min-width: 60em) {
  /* line 1749, app/assets/stylesheets/style.scss */
  .home__q .icon-quote-close {
    bottom: 0;
  }
}

@media (min-width: 60em) {
  /* line 1755, app/assets/stylesheets/style.scss */
  .home__q {
    width: 50%;
    float: left;
    height: 25em;
  }
  /* line 1760, app/assets/stylesheets/style.scss */
  .home__q .wrapper {
    max-width: 32em;
    float: right;
    padding-left: 0;
    padding-right: 5em;
  }
  /* line 1766, app/assets/stylesheets/style.scss */
  .home__q .wrapper .quote {
    padding-left: 0;
  }
  /* line 1769, app/assets/stylesheets/style.scss */
  .home__q + .home__benefits {
    width: 50%;
    float: left;
    height: 25em;
  }
  /* line 1774, app/assets/stylesheets/style.scss */
  .home__q + .home__benefits .wrapper {
    max-width: 32em;
    float: left;
    text-align: left;
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media (min-width: 40em) {
  /* line 1784, app/assets/stylesheets/style.scss */
  .home__benefits {
    padding: 3em;
    overflow: hidden;
  }
}

@media (min-width: 60em) {
  /* line 1791, app/assets/stylesheets/style.scss */
  .home__benefits {
    padding: 3em 1em;
  }
}

/* line 1796, app/assets/stylesheets/style.scss */
.home__benefits h2 {
  color: #fff;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

@media (min-width: 40em) {
  /* line 1804, app/assets/stylesheets/style.scss */
  .home__benefits h2 {
    text-align: left;
    padding-top: 0;
  }
}

@media (min-width: 60em) {
  /* line 1811, app/assets/stylesheets/style.scss */
  .home__benefits h2 {
    padding-top: 1em;
  }
}

/* line 1816, app/assets/stylesheets/style.scss */
.page main {
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (min-width: 60em) {
  /* line 1822, app/assets/stylesheets/style.scss */
  .page main .content-left {
    float: left;
    width: 65%;
  }
  /* line 1826, app/assets/stylesheets/style.scss */
  .page main .sidebar {
    width: 33%;
    float: right;
  }
}

/* line 1832, app/assets/stylesheets/style.scss */
.slider--rm {
  margin: 2em 0;
}

/* line 1836, app/assets/stylesheets/style.scss */
.slider--rm img, .slider--rm picture {
  display: block;
  width: 100%;
}

@media (min-width: 40em) {
  /* line 1842, app/assets/stylesheets/style.scss */
  .slider--rm .slick-dots {
    display: none !important;
  }
}

/* line 1847, app/assets/stylesheets/style.scss */
.slider-nav--rm {
  display: none;
}

@media (min-width: 40em) {
  /* line 1852, app/assets/stylesheets/style.scss */
  .slider-nav--rm {
    display: block;
    margin-bottom: 3em;
  }
  /* line 1856, app/assets/stylesheets/style.scss */
  .slider-nav--rm div {
    margin-right: 2em;
    outline: none !important;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  /* line 1862, app/assets/stylesheets/style.scss */
  .slider-nav--rm div img, .slider-nav--rm div picture {
    display: block;
  }
  /* line 1865, app/assets/stylesheets/style.scss */
  .slider-nav--rm div.slick-current {
    opacity: .3;
  }
  /* line 1868, app/assets/stylesheets/style.scss */
  .slider-nav--rm div:hover {
    cursor: pointer;
  }
  /* line 1871, app/assets/stylesheets/style.scss */
  .slider-nav--rm div:last-of-type {
    margin-right: 0;
  }
}

/* line 1876, app/assets/stylesheets/style.scss */
.room__amenities ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 1882, app/assets/stylesheets/style.scss */
.room__amenities li {
  margin-left: 0;
  padding-left: 1.8em;
  position: relative;
}

/* line 1888, app/assets/stylesheets/style.scss */
.room__amenities li:before {
  font-family: "rb" !important;
  content: "\75";
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  font-size: .8em;
  top: .3em;
}

@media (min-width: 80em) {
  /* line 1906, app/assets/stylesheets/style.scss */
  .room__desc {
    width: 48%;
    float: left;
  }
  /* line 1910, app/assets/stylesheets/style.scss */
  .room__amenities {
    width: 48%;
    float: right;
    margin-top: 3.5em;
  }
  /* line 1915, app/assets/stylesheets/style.scss */
  .room-single hr {
    margin: 6em 0 5em;
    clear: both;
    position: relative;
    top: 2em;
  }
  /* line 1921, app/assets/stylesheets/style.scss */
  .other-rooms {
    padding-bottom: 2em;
  }
}

/* line 1926, app/assets/stylesheets/style.scss */
.media {
  display: block;
}

/* line 1930, app/assets/stylesheets/style.scss */
.media .media__body {
  overflow: hidden;
  display: block;
}

/* line 1935, app/assets/stylesheets/style.scss */
.media .media__body, .media .media__body > :last-child {
  margin-bottom: 0;
}

@media (min-width: 40em) {
  /* line 1940, app/assets/stylesheets/style.scss */
  .media .media__img {
    float: left;
    margin-right: 1.5em;
  }
}

/* line 1946, app/assets/stylesheets/style.scss */
.media .media__img > img {
  display: block;
}

@media (min-width: 40em) {
  /* line 1951, app/assets/stylesheets/style.scss */
  .media .media__img > img {
    margin-bottom: 2em;
  }
}

@media (min-width: 40em) {
  /* line 1957, app/assets/stylesheets/style.scss */
  .media.media--rev .media__img {
    float: right;
    margin-right: 0;
    margin-left: 1.5em;
  }
}

@media (min-width: 40em) {
  /* line 1965, app/assets/stylesheets/style.scss */
  .media.media--rev .media__body {
    margin-bottom: 2em;
  }
}

/* line 1970, app/assets/stylesheets/style.scss */
.circle {
  border-radius: 100%;
  display: block;
  overflow: hidden;
}

/* line 1976, app/assets/stylesheets/style.scss */
.circle > * {
  display: block;
  width: 100%;
  height: auto;
}

/* line 1982, app/assets/stylesheets/style.scss */
.slick-dots {
  padding-left: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 1em;
}

/* line 1992, app/assets/stylesheets/style.scss */
.slick-dots li {
  display: inline-block;
  margin: 0 .25em;
}

/* line 1997, app/assets/stylesheets/style.scss */
.slick-dots button {
  padding: 0;
  text-indent: -999em;
  width: .9375em;
  height: .9375em;
  border: #4A3D33 3px solid;
  background: #4A3D33;
  border-radius: 100%;
}

/* line 2007, app/assets/stylesheets/style.scss */
.slick-dots .slick-active button {
  background: none;
}

/* line 2011, app/assets/stylesheets/style.scss */
.slider--services {
  padding: 0 0 6em;
  text-align: center;
}

@media (min-width: 40em) {
  /* line 2017, app/assets/stylesheets/style.scss */
  .slider--services {
    text-align: left;
  }
  /* line 2020, app/assets/stylesheets/style.scss */
  .slider--services div {
    position: relative;
    width: 48%;
    float: left;
    display: inline-block;
    height: 3.125em;
    margin-bottom: 1em;
  }
  /* line 2028, app/assets/stylesheets/style.scss */
  .slider--services div span {
    display: block;
    width: 80%;
    margin-left: 3em;
    line-height: 1.4;
  }
}

@media (min-width: 60em) {
  /* line 2037, app/assets/stylesheets/style.scss */
  .slider--services div:nth-of-type(2n+2) {
    margin-left: 1em;
  }
  /* line 2040, app/assets/stylesheets/style.scss */
  .slider--services span {
    width: 70%;
    font-size: .9em;
    font-weight: 100;
  }
}

/* line 2047, app/assets/stylesheets/style.scss */
.slider--services i {
  display: block;
  font-size: 8em;
}

@media (min-width: 40em) {
  /* line 2053, app/assets/stylesheets/style.scss */
  .slider--services i {
    font-size: 2em;
    position: absolute;
  }
}

/* line 2059, app/assets/stylesheets/style.scss */
.room {
  position: relative;
  margin-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

/* line 2074, app/assets/stylesheets/style.scss */
.room img, .room picture {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 2080, app/assets/stylesheets/style.scss */
.room .room__info {
  position: absolute;
  max-width: 17em;
  z-index: 2;
  text-align: center;
}

/* line 2087, app/assets/stylesheets/style.scss */
.room .room__info p {
  margin: 0;
}

/* line 2091, app/assets/stylesheets/style.scss */
.room .room__info h4 {
  margin-bottom: .65em;
}

/* line 2095, app/assets/stylesheets/style.scss */
.room:hover {
  color: #4A3D33;
}

/* line 2099, app/assets/stylesheets/style.scss */
.room:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 40em) {
  /* line 2104, app/assets/stylesheets/style.scss */
  .room {
    max-width: 30%;
    margin-bottom: 2em;
    float: left;
    margin-right: 2em;
  }
  /* line 2110, app/assets/stylesheets/style.scss */
  .room:nth-of-type(3n+3) {
    margin-right: 0;
  }
  /* line 2113, app/assets/stylesheets/style.scss */
  .room .room__info {
    max-width: 12em;
  }
  /* line 2116, app/assets/stylesheets/style.scss */
  .room .room__info p {
    font-size: .975em;
    line-height: 1.1;
  }
}

@media (min-width: 60em) {
  /* line 2123, app/assets/stylesheets/style.scss */
  .room .room__info, .room img, .room picture {
    -webkit-transition: all 0.6s cubic-bezier(0.71, -0.33, 0.21, 1.53);
    transition: all 0.6s cubic-bezier(0.71, -0.33, 0.21, 1.53);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1.0;
  }
  /* line 2130, app/assets/stylesheets/style.scss */
  .room img, .room picture {
    -webkit-transition-timing-function: cubic-bezier(0.82, -0.59, 0.17, 1.31);
    transition-timing-function: cubic-bezier(0.82, -0.59, 0.17, 1.31);
  }
  /* line 2134, app/assets/stylesheets/style.scss */
  .room:hover .room__info {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  /* line 2139, app/assets/stylesheets/style.scss */
  .room:hover img, .room:hover picture {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
/* line 1, app/assets/stylesheets/todo.sass */
main ul li {
  margin-top: 10px;
  font-weight: 300;
  color: #4A3D33;
  background: #fff;
}

/* line 7, app/assets/stylesheets/todo.sass */
.tiles {
  display: flex;
  padding-bottom: 40px;
  margin-top: 30px;
}

/* line 12, app/assets/stylesheets/todo.sass */
.tiles img {
  margin-bottom: 3px;
  width: 150px;
}

/* line 16, app/assets/stylesheets/todo.sass */
.tiles .img-col {
  min-width: 350px;
}

/* line 19, app/assets/stylesheets/todo.sass */
.tiles p {
  margin-top: 0px;
  margin-bottom: 0;
}

/* line 23, app/assets/stylesheets/todo.sass */
.tiles ul {
  margin-top: 0;
  padding-top: 0;
}

/* line 27, app/assets/stylesheets/todo.sass */
.divider {
  border: 1px solid #7CC89D;
  border-width: 1px;
  height: 1px;
  border-bottom-width: 0;
  margin-bottom: 40px;
}
