/* line 1, app/assets/stylesheets/todo.sass */
main ul li {
  margin-top: 10px;
  font-weight: 300;
  color: #4A3D33;
  background: #fff;
}

/* line 7, app/assets/stylesheets/todo.sass */
.tiles {
  display: flex;
  padding-bottom: 40px;
  margin-top: 30px;
}

/* line 12, app/assets/stylesheets/todo.sass */
.tiles img {
  margin-bottom: 3px;
  width: 150px;
}

/* line 16, app/assets/stylesheets/todo.sass */
.tiles .img-col {
  min-width: 350px;
}

/* line 19, app/assets/stylesheets/todo.sass */
.tiles p {
  margin-top: 0px;
  margin-bottom: 0;
}

/* line 23, app/assets/stylesheets/todo.sass */
.tiles ul {
  margin-top: 0;
  padding-top: 0;
}

/* line 27, app/assets/stylesheets/todo.sass */
.divider {
  border: 1px solid #7CC89D;
  border-width: 1px;
  height: 1px;
  border-bottom-width: 0;
  margin-bottom: 40px;
}
