meta charset="UTF-8"
title Residence Eburnea
meta name="title" content="Residence Eburnea"
meta name="google-site-verification" content="1pFyH6_sD6bCGO9TQONVPh1IP9aqRiqso5XCiPKuvU0" 
meta name="description" content="For your stay in Abidjan in a business or private setting, for short stays or long stays, alone or with your family, choose the freedom, comfort and coziness of a clean and welcoming residence - Residence Eburnea."
meta name="author" content="Olivier Kouame" 
meta name="Copyright" content="Copyright &copy; Residence Eburnea 2016. All Rights Reserved."
link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Merriweather:300,700" rel="stylesheet"
= stylesheet_link_tag "application", media: "all" 
script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"
script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.0/featherlight.min.js"
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.0/featherlight.min.css" 
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" 
