<section class="home__slide home__slide--gal">
	<div class="wrapper">
		  <div class="slider--img slider">
			<a class="img-lrg-l" href="#" data-featherlight="/img/home/1200x820.jpg">
			  <picture>
					<img src="/img/home/1200x820.jpg" />
				</picture>
			</a>
			<a class="img-sm-l" href="#" data-featherlight="/img/home/830x570-1.jpg">
			   <picture>
					<img src="/img/home/830x570-1.jpg" alt="" class="" />
				</picture>
			</a>
			<a class="img-sm-v" href="#"  data-featherlight="/img/home/590x742.jpg">
			  <picture>
					<img src="/img/home/590x742.jpg" alt="" class="" />
				</picture>
			</a>
			<a class="img-sm-v" href="#" data-featherlight="/img/home/590x742a.jpg">
			  <picture>
					<img src="/img/home/590x742a.jpg" alt="" class="" />
				</picture>
			</a>
			<a class="img-lrg-v" href="#"  data-featherlight="/img/home/830x990.jpg">
				<picture>
					<img src="/img/home/830x990.jpg " alt="" class="" />
				</picture>
			</a>
	</div>
</section>
