
p Un client potential a contacte la Residence Eburnea a partir du site web. Ci-dessous sont les informations envoyees

b Nom du demandeur:  	
p =@name

b Mobile du demandeur: 
p =@mobile

b Email du demandeur:
p =@email

b Message: 
p =@message
