
p Un client potentiel a contacté la Résidence Eburnéa à partir du site web. Ci-dessous sont les informations envoyeés:

b Nom du demandeur:  	
p =@name

b Mobile du demandeur: 
p =@mobile

b Email du demandeur:
p =@email

b Message: 
p =@message
