.carousel img {
  height: 400px;
  width: 600px;
  border: 1px solid #999;
}

.carousel {
  width: 600px;
  height: 400px;
}

.amenities {
  flex: 1;
  padding-left: 60px;
}

.amenities ul li {
    margin-bottom: 10px;
    font-weight: 300;
    color: #4A3D33;
    background: #fff;
}

.slick-slide {
  width: 600px
}
