@charset "UTF-8";

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

b, strong {
    font-weight: bold
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir="rtl"] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

@media all {
    .featherlight {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2147483647;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        background: #333;
        background: transparent
    }
    .featherlight:last-of-type {
        background: rgba(0, 0, 0, 0.8)
    }
    .featherlight:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em
    }
    .featherlight .featherlight-content {
        position: relative;
        text-align: left;
        vertical-align: middle;
        display: inline-block;
        overflow: auto;
        padding: 25px 25px 0;
        border-bottom: 25px solid transparent;
        margin-left: 5%;
        margin-right: 5%;
        max-height: 95%;
        background: #fff;
        cursor: auto;
        white-space: normal
    }
    .featherlight .featherlight-inner {
        display: block
    }
    .featherlight .featherlight-close-icon {
        position: absolute;
        z-index: 9999;
        top: 0;
        right: 0;
        line-height: 25px;
        width: 25px;
        cursor: pointer;
        text-align: center;
        font-family: Arial, sans-serif;
        background: #fff;
        background: rgba(255, 255, 255, 0.3);
        color: #000
    }
    .featherlight .featherlight-image {
        width: 100%
    }
    .featherlight-iframe .featherlight-content {
        border-bottom: 0;
        padding: 0
    }
    .featherlight iframe {
        border: none
    }
    .featherlight * {
        box-sizing: border-box
    }
}

@media only screen and (max-width: 1024px) {
    .featherlight .featherlight-content {
        margin-left: 10px;
        margin-right: 10px;
        max-height: 98%;
        padding: 10px 10px 0;
        border-bottom: 10px solid transparent
    }
}

.sr {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

*, *:before, *:after {
    box-sizing: border-box
}

html {
    font: 1em/1.2 "Lato", sans-serif;
    color: #4A3D33;
    background: #fff
}

body {
    position: relative
}

main {
    padding-top: 1em
}

.wrapper {
    margin: 0 auto;
    max-width: 64em;
    padding: 0 2em
}

@media (min-width: 80em) {
    .wrapper {
        padding-left: 0;
        padding-right: 0
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .75em;
    line-height: 1
}

h1, h2, h3 {
    font-weight: 700
}

h4, h5, h6 {
    font-weight: 700
}

h1 {
    font-size: 1.875em;
    margin-bottom: .25em
}

@media (min-width: 60em) {
    h1 {
        font-size: 2.5em
    }
}

h2 {
    font-size: 1.5em;
    margin-bottom: .2em
}

@media (min-width: 60em) {
    h2 {
        font-size: 1.875em;
        margin-bottom: .75em
    }
}

h3 {
    font-size: 1.125em;
    margin-bottom: .75em
}

h4 {
    font-size: 1.0625em;
    margin-bottom: 1em;
    margin-bottom: 0
}

h5 {
    font-size: 1em;
    margin-bottom: 1em
}

h6 {
    font-size: .875em;
    margin-bottom: 1em
}

p {
    margin: 1.5em 0;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width: 40em) {
    p.intro {
        max-width: 60%;
        clear: both;
        margin: inherit 0 2em
    }
}

hr {
    border-top: none;
    border-top: 0.1em solid #4A3D33;
    display: block;
    margin: 1em 0 2em;
    clear: both
}

q, blockquote, cite {
    font-style: normal
}

blockquote {
    margin: 0;
    font-family: "Merriweather", serif;
    padding: 5em 1em
}

blockquote p {
    font-weight: 100;
    font-size: .8em;
    line-height: 1.6
}

blockquote h3 {
    font-size: 1.2em;
    line-height: 1.3;
    margin-top: 0
}

blockquote cite {
    font-size: .8em;
    font-family: "Lato", sans-serif
}

blockquote cite .location {
    font-weight: 100
}

.main-content blockquote {
    padding: .5em 2em 1em;
    position: relative
}

.main-content blockquote:before {
    font-family: "rb" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\63";
    position: absolute;
    font-size: 3em;
    z-index: 0;
    opacity: .1;
    left: 0
}

a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

a:hover, a:active, a:focus {
    color: #ccc
}

ul, ol {
    font-size: 1em;
    padding-left: 1em;
    padding-bottom: .5em;
    margin-left: 1em
}

.no-bullets {
    list-style: none;
    margin-left: 0;
    padding-left: 0
}

.list--side {
    list-style: none;
    margin-left: 0;
    padding-left: 0
}

.list--side>li, .list--side>li>a {
    display: inline-block;
    *display: inline;
    zoom: 1
}

.main-content li {
    margin-bottom: .9em;
    padding-left: .6em;
    font-weight: 100
}

code, pre {
    background: #f2f2f2;
    border: 1px solid #CCC;
    padding: 0 .2em;
    border-radius: .2em
}

code {
    display: inline-block
}

table {
    width: 100%;
    text-align: left
}

td, th {
    padding: 1em;
    border: 1px solid #000
}

thead th, thead td {
    border-bottom: 1px solid #000
}

picture {
    text-align: center;
    display: block
}

img {
    max-width: 100%;
    border: none
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.wrapper, .list--side, .header, .clear, .other-rooms, .media {
    *zoom: 1
}

.wrapper:before, .list--side:before, .header:before, .clear:before, .other-rooms:before, .media:before, .wrapper:after, .list--side:after, .header:after, .clear:after, .other-rooms:after, .media:after {
    content: " ";
    display: table
}

.wrapper:after, .list--side:after, .header:after, .clear:after, .other-rooms:after, .media:after {
    clear: both
}

.wrapper {
    max-width: 64em;
    margin: 0 auto
}

.margin {
    padding: 0 3em
}

.no-margin {
    margin: 0 !important
}

.fr {
    float: right
}

.fl {
    float: left
}

.center {
    text-align: center
}

form {
    padding-bottom: 1em;
    overflow: hidden
}

input, button, textarea, select, .button {
    border: .1em solid #000;
    padding: .7em;
    background: #fff;
    color: #4A3D33;
    border-radius: 0
}

fieldset {
    padding: 0;
    margin: 0 0 3em;
    border: none
}

input, button, textarea, select, .button {
    -webkit-appearance: none;
    display: inline-block;
    width: 100%;
    font: inherit;
    outline: none;
    -webkit-transition: .25s box-shadow, .25s border;
    transition: .25s box-shadow, .25s border
}

input:disabled, button:disabled, textarea:disabled, select:disabled, .button:disabled {
    color: #A9A9A9;
    background: #f2f2f2
}

input:focus, button:focus, textarea:focus, select:focus, .button:focus {
    background: #f2f2f2
}

select {
    width: 100%;
    display: block;
    padding-right: 2em;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ''
}

select::-ms-expand {
    display: none
}

.select {
    position: relative;
    display: inline-block;
    width: 100%
}

textarea {
    resize: vertical;
    min-height: 7em
}

.select:after {
    content: "\25bc";
    color: #7CC89D;
    display: inline-block;
    padding: 0 .75em;
    speak: none;
    pointer-events: none;
    font-size: .75em;
    line-height: 2.5em;
    position: absolute;
    top: .1em;
    bottom: .1em;
    right: .1em;
    background: #fff;
    border: 0.5em solid #f2f2f2
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .1em
}

input[type="radio"] {
    -webkit-appearance: radio;
    display: inline-block;
    width: auto;
    margin: 0 .1em
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: border-box
}

form div.wpcf7-response-output {
    display: block;
    font-weight: 700;
    border: none;
    padding: 2.2em 1em;
    text-align: center
}

form div.wpcf7-validation-errors {
    color: #f00;
    background: #ffd6d6
}

form div.wpcf7-mail-sent-ok {
    color: green;
    background: #bddab1
}

form span.wpcf7-not-valid-tip {
    font-weight: 700
}

input[type="submit"], input[type="reset"], input[type="button"], button, .btn {
    display: inline-block;
    width: auto;
    padding: 1em 2em;
    margin: 0 .1em;
    box-shadow: none !important;
    outline: none;
    -webkit-transition: .35s all ease;
    transition: .35s all ease;
    border: none;
    color: #fff;
    background: #4A3D33;
    text-align: center;
    font-weight: 400;
    border: #4A3D33 2px solid
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .btn:hover {
    background: transparent;
    cursor: pointer;
    color: #4A3D33
}

@font-face {
    font-family: "rb";
    src: url("/fonts/rb.eot");
    src: url("/fonts/rb.eot?#iefix") format("embedded-opentype"), url("/fonts/rb.woff") format("woff"), url("/fonts/rb.ttf") format("truetype"), url("/fonts/rb.svg#rb") format("svg");
    font-weight: normal;
    font-style: normal
}

[data-icon]:before {
    font-family: "rb" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "rb" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-binoculars:before {
    content: "\61"
}

.icon-quote-close:before {
    content: "\62"
}

.icon-quote-open:before {
    content: "\63"
}

.icon-broom:before {
    content: "\64"
}

.icon-right:before {
    content: "\65"
}

.icon-call:before {
    content: "\66"
}

.icon-camera:before {
    content: "\67"
}

.icon-swimming:before {
    content: "\68"
}

.icon-up:before {
    content: "\69"
}

.icon-chat:before {
    content: "\6a"
}

.icon-computer:before {
    content: "\6b"
}

.icon-wifi:before {
    content: "\6c"
}

.icon-zoom:before {
    content: "\6d"
}

.icon-down:before {
    content: "\6e"
}

.icon-heart:before {
    content: "\6f"
}

.icon-home:before {
    content: "\70"
}

.icon-lamp:before {
    content: "\71"
}

.icon-left:before {
    content: "\72"
}

.icon-mail:before {
    content: "\73"
}

.icon-pin:before {
    content: "\74"
}

.icon-tick:before {
    content: "\75"
}

.top {
    background: #4A3D33;
    color: #fff;
    z-index: 6;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25)
}

.top .wrapper {
    padding: 0
}

.top .nav-toggle {
    position: relative
}

.top .nav-toggle div {
    position: absolute;
    top: 1.45em;
    left: 1.25em
}

@media (min-width: 40em) {
    .top .nav-toggle {
        display: none
    }
}

.top .bar {
    width: 22px;
    height: 4px;
    background: #fff;
    display: block;
    border-radius: .4em;
    position: absolute;
    -webkit-transition: all 0.4s cubic-bezier(1, -0.15, 0.14, 1.25);
    transition: all 0.4s cubic-bezier(1, -0.15, 0.14, 1.25)
}

.top .bar.bar--mid {
    top: .5em
}

.top .bar.bar--bot {
    top: 1em
}

.csstransforms .top .nav-toggle.active .bar--top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: .5em
}

.csstransforms .top .nav-toggle.active .bar--bot {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -.5em
}

.csstransforms .top .nav-toggle.active .bar--mid {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.top .label {
    position: relative;
    margin-left: 3em;
    display: block
}

.top .lang {
    background: #6A594C;
    position: relative
}

@media (min-width: 40em) {
    .top .lang {
        max-width: 10em
    }
}

.top .lang i {
    font-size: 1.8em;
    position: absolute;
    right: 4em;
    top: .75em
}

.top a {
    color: #fff;
    display: inline-block;
    width: 49%;
    padding: 1.5em .75em
}

.top a+a {
    text-align: right;
    float: right;
    padding-right: 1.5em
}

.logo {
    display: block
}

.logo picture, .logo img {
    display: block;
    margin: 1.5em auto
}

.footer {
    background: #4A3D33;
    padding: 3em 0
}

.footer address {
    font-style: normal;
    line-height: 1.6
}

.footer ul {
    margin-left: 0;
    padding: 0 1em;
    list-style: none;
    margin-bottom: 0
}

.footer ul>:last-child {
    margin-bottom: 0
}

.footer li {
    color: #fff;
    font-size: .9em;
    font-weight: 100;
    margin-bottom: 1em;
    position: relative;
    padding-left: 2em
}

.footer li i {
    position: absolute;
    font-size: 1.2em;
    left: 0;
    top: 0
}

.footer li .icon-pin {
    top: .2em
}

.footer a {
    color: #fff;
    text-decoration: none
}

.footer .footer--sec {
    text-align: center;
    margin-bottom: 3em
}

.footer .copyright {
    margin-top: 2em;
    color: #fff;
    font-size: .8em;
    font-weight: 100;
    padding-left: 1.2em
}

@media (min-width: 60em) {
    .footer .wrapper {
        padding-left: 0;
        padding-top: 0em
    }
    .footer .col--half {
        float: right
    }
    .footer .col--half+.col--half {
        float: left
    }
    .footer .copyright {
        padding-top: 10em
    }
}

.menu {
    background: #2c241e
}

.menu .wrapper {
    padding-left: 0;
    padding-right: 0
}

.menu h3 {
    color: #fff;
    text-align: center;
    padding: 1em 0
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.menu a {
    color: #fff;
    display: block;
    background: #7CC89D;
    border-bottom: #2c241e 1px solid;
    padding: 1em 1.2em;
    position: relative;
    padding-left: 4em
}

@media (min-width: 60em) {
    .menu a {
        padding-left: 5em
    }
}

.menu a i {
    position: absolute;
    font-size: 1.4em;
    left: 1em
}

@media (min-width: 40em) and (max-width: 59.99em) {
    .menu a i {
        display: none
    }
}

@media (min-width: 60em) {
    .menu a i {
        left: 0
    }
}

.js .menu h3 {
    display: none
}

@media (max-width: 39.99em) {
    .js .menu {
        background: #7CC89D;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 4;
        padding-top: 5em;
        left: -100%
    }
    .js .menu.active {
        left: 0
    }
    .js .menu a {
        border-bottom: none
    }
}

@media (max-width: 39.99em) {
    .js.csstransforms .menu {
        left: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out
    }
    .js.csstransforms .menu a {
        -webkit-transition: all .5s ease-in .375s;
        transition: all .5s ease-in .375s;
        opacity: 0
    }
    .js.csstransforms .menu.active {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    .js.csstransforms .menu.active a {
        opacity: 1.0
    }
}

@media (min-width: 40em) {
    .js.csstransforms .menu {
        top: 0;
        position: fixed;
        z-index: 8;
        background: none;
        max-width: 64em
    }
    .js.csstransforms .menu li, .js.csstransforms .menu a {
        display: inline-block
    }
    .js.csstransforms .menu a {
        background: none;
        border-bottom: none;
        padding: 1.5em 0 1.5em 1.5em
    }
}

@media (min-width: 60em) {
    .js.csstransforms .menu {
        left: 50%;
        margin-left: -32em
    }
    .js.csstransforms .menu a {
        padding-left: 2em;
        padding-right: 3em
    }
}

.nav ul, .nav li {
    list-style: none !important;
    padding: 0;
    margin: 0
}

.nav {
    border-top: #000 1px solid;
    margin-top: 3em
}

.nav a {
    display: block;
    color: #000;
    font-weight: 700;
    border-bottom: #000 1px solid;
    padding: 1em;
    text-decoration: none
}

.js .nav {
    margin-top: 0;
    padding: 2em 1em;
    background: #000;
    position: fixed;
    z-index: 95;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: .5;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.js .nav.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1.0
}

.js .nav a {
    color: #fff
}

.hero {
    background: #D35400;
    position: relative;
    overflow: hidden
}

@media (min-width: 40em) {
    .hero {
        min-height: 35em
    }
}

.hero .wrapper {
    position: relative;
    z-index: 4
}

.hero .wrapper>.logo, .hero .wrapper>.intro {
    color: #fff
}

.hero .wrapper>.logo {
    margin-top: 35%
}

.hero .wrapper .intro {
    font-size: 1.2em;
    font-weight: 400
}

.hero .wrapper .btn-contact {
    background: #4A3D33
}

@media (max-width: 39.99em) {
    .hero .wrapper .btn-contact {
        display: block
    }
}

@media (min-width: 40em) {
    .hero .wrapper .btn-contact {
        font-weight: 400;
        padding-left: 2em;
        padding-right: 2em
    }
}

@media (min-width: 60em) {
    .hero .wrapper .btn-contact:hover {
        background: transparent;
        border-color: #fff;
        cursor: pointer;
        color: #fff
    }
}

@media (max-width: 79.99em) {
    .hero .wrapper {
        padding: 0 3em
    }
}

@media (min-width: 60em) {
    .hero .wrapper {
        padding-left: 0
    }
    .hero .wrapper>.logo {
        margin-top: 15em
    }
    .hero .wrapper>* {
        max-width: 40%
    }
}

.hero .hero-btn {
    display: none
}

@media (max-width: 39.99em) {
    .hero {
        height: 91vh
    }
    .hero .hero-btn {
        display: block;
        background: #D3712E;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 3;
        border: none;
        font-size: .9em;
        color: #FFFFFF;
        letter-spacing: .149375em;
        text-transform: uppercase
    }
    .hero .hero-btn i {
        margin-left: 1em;
        font-size: .9em
    }
}

.hero .hero__img {
    height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    text-align: center
}

.hero .hero__img img {
    height: 100vh;
    display: block;
    width: auto;
    display: none
}

@media (min-width: 40em) {
    .hero .hero__img img {
        min-height: 0;
        height: auto;
        width: 1044px;
        display: block;
        margin: auto
    }
}

.hero--pg {
    height: auto;
    min-height: 0;
    padding-bottom: 2em
}

.hero--pg .wrapper>.logo {
    margin-top: 30%
}

@media (max-width: 59.99em) {
    .hero--pg .wrapper>.logo {
        text-align: center
    }
}

@media (min-width: 40em) {
    .hero--pg .wrapper>.logo {
        margin-top: 15%
    }
}

@media (min-width: 60em) {
    .hero--pg .wrapper>.logo {
        margin-top: 10% !important
    }
}

.hero--pg .hero-btn {
    display: none
}

main .welcome {
    padding-top: 2em
}

@media (max-width: 39.99em) {
    main .welcome h1 {
        text-align: center
    }
}

main .welcome .circle {
    max-width: 8.75em;
    margin: 2em auto;
    border: #7CC89D 6px solid
}

main .welcome .circle~p {
    margin-top: .5em;
    margin-bottom: 1em;
    font-size: .9em
}

@media (min-width: 60em) {
    main .welcome {
        padding-left: 0;
        padding-top: 3em;
        padding-bottom: 3em
    }
    main .welcome h1, main .welcome .media {
        max-width: 67em
    }
    main .welcome .circle {
        margin-top: 1em
    }
}

main .welcome .media__body {
    margin-bottom: 3em
}

.home__slide {
    background: #7CC89D
}

.home__slide .wrapper {
    padding-left: 0;
    padding-right: 0
}

.home__slide img {
    display: block;
    height: auto;
    width: 100%
}

.home__slide.home__slide--gal {
    background: none
}

@media (min-width: 60em) {
    .home__slide .wrapper {
        height: 790px;
        position: relative;
        margin-bottom: 4em
    }
    .home__slide .img-lrg-l {
        width: 600px;
        height: 410px;
        overflow: hidden;
        background: red;
        position: absolute;
        top: 0;
        left: 0
    }
    .home__slide .img-sm-l {
        width: 415px;
        height: 285px;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        background: red
    }
    .home__slide .img-sm-v {
        width: 295px;
        height: 371px;
        overflow: hidden;
        background: red;
        position: absolute;
        bottom: 0;
        left: 0
    }
    .home__slide .img-sm-v+.img-sm-v {
        left: 305px
    }
    .home__slide .img-lrg-v {
        width: 415px;
        height: 495px;
        background: red;
        position: absolute;
        bottom: 0;
        right: 0
    }
}

.home__q {
    background: #6A594C;
    color: #fff
}

.home__q .wrapper {
    position: relative
}

.home__q i {
    position: absolute;
    color: #fff;
    font-size: 4em;
    z-index: 0;
    opacity: .1
}

@media (min-width: 60em) {
    .home__q i {
        font-size: 7em;
        opacity: .05
    }
}

.home__q p {
    font-size: .9375em
}

.home__q blockquote {
    max-width: 25em
}

@media (min-width: 40em) {
    .home__q blockquote h3 {
        margin-bottom: 2em
    }
}

.home__q .icon-quote-open {
    top: .5em
}

@media (min-width: 60em) {
    .home__q .icon-quote-open {
        top: .25em;
        left: -.5em
    }
}

.home__q .icon-quote-close {
    right: .5em;
    bottom: .5em
}

@media (min-width: 60em) {
    .home__q .icon-quote-close {
        bottom: 0
    }
}

@media (min-width: 60em) {
    .home__q {
        width: 50%;
        float: left;
        height: 25em
    }
    .home__q .wrapper {
        max-width: 32em;
        float: right;
        padding-left: 0;
        padding-right: 5em
    }
    .home__q .wrapper .quote {
        padding-left: 0
    }
    .home__q+.home__benefits {
        width: 50%;
        float: left;
        height: 25em
    }
    .home__q+.home__benefits .wrapper {
        max-width: 32em;
        float: left;
        text-align: left;
        padding-left: 3em;
        padding-right: 3em
    }
}

@media (min-width: 40em) {
    .home__benefits {
        padding: 3em;
        overflow: hidden
    }
}

@media (min-width: 60em) {
    .home__benefits {
        padding: 3em 1em
    }
}

.home__benefits h2 {
    color: #fff;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em
}

@media (min-width: 40em) {
    .home__benefits h2 {
        text-align: left;
        padding-top: 0
    }
}

@media (min-width: 60em) {
    .home__benefits h2 {
        padding-top: 1em
    }
}

.page main {
    padding-top: 2em;
    padding-bottom: 2em
}

@media (min-width: 60em) {
    .page main .content-left {
        float: left;
        width: 65%
    }
    .page main .sidebar {
        width: 33%;
        float: right
    }
}

.slider--rm {
    margin: 2em 0
}

.slider--rm img, .slider--rm picture {
    display: block;
    width: 100%
}

@media (min-width: 40em) {
    .slider--rm .slick-dots {
        display: none !important
    }
}

.slider-nav--rm {
    display: none
}

@media (min-width: 40em) {
    .slider-nav--rm {
        display: block;
        margin-bottom: 3em
    }
    .slider-nav--rm div {
        margin-right: 2em;
        outline: none !important;
        -webkit-transition: all .3s ease;
        transition: all .3s ease
    }
    .slider-nav--rm div img, .slider-nav--rm div picture {
        display: block
    }
    .slider-nav--rm div.slick-current {
        opacity: .3
    }
    .slider-nav--rm div:hover {
        cursor: pointer
    }
    .slider-nav--rm div:last-of-type {
        margin-right: 0
    }
}

.room__amenities ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0
}

.room__amenities li {
    margin-left: 0;
    padding-left: 1.8em;
    position: relative
}

.room__amenities li:before {
    font-family: "rb" !important;
    content: "\75";
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    font-size: .8em;
    top: .3em
}

@media (min-width: 80em) {
    .room__desc {
        width: 48%;
        float: left
    }
    .room__amenities {
        width: 48%;
        float: right;
        margin-top: 3.5em
    }
    .room-single hr {
        margin: 6em 0 5em;
        clear: both;
        position: relative;
        top: 2em
    }
    .other-rooms {
        padding-bottom: 2em
    }
}

.media {
    display: block
}

.media .media__body {
    overflow: hidden;
    display: block
}

.media .media__body, .media .media__body>:last-child {
    margin-bottom: 0
}

@media (min-width: 40em) {
    .media .media__img {
        float: left;
        margin-right: 1.5em
    }
}

.media .media__img>img {
    display: block
}

@media (min-width: 40em) {
    .media .media__img>img {
        margin-bottom: 2em
    }
}

@media (min-width: 40em) {
    .media.media--rev .media__img {
        float: right;
        margin-right: 0;
        margin-left: 1.5em
    }
}

@media (min-width: 40em) {
    .media.media--rev .media__body {
        margin-bottom: 2em
    }
}

.circle {
    border-radius: 100%;
    display: block;
    overflow: hidden
}

.circle>* {
    display: block;
    width: 100%;
    height: auto
}

.slick-dots {
    padding-left: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 1em
}

.slick-dots li {
    display: inline-block;
    margin: 0 .25em
}

.slick-dots button {
    padding: 0;
    text-indent: -999em;
    width: .9375em;
    height: .9375em;
    border: #4A3D33 3px solid;
    background: #4A3D33;
    border-radius: 100%
}

.slick-dots .slick-active button {
    background: none
}

.slider--services {
    padding: 0 0 6em;
    text-align: center
}

@media (min-width: 40em) {
    .slider--services {
        text-align: left
    }
    .slider--services div {
        position: relative;
        width: 48%;
        float: left;
        display: inline-block;
        height: 3.125em;
        margin-bottom: 1em
    }
    .slider--services div span {
        display: block;
        width: 80%;
        margin-left: 3em;
        line-height: 1.4
    }
}

@media (min-width: 60em) {
    .slider--services div:nth-of-type(2n+2) {
        margin-left: 1em
    }
    .slider--services span {
        width: 70%;
        font-size: .9em;
        font-weight: 100
    }
}

.slider--services i {
    display: block;
    font-size: 8em
}

@media (min-width: 40em) {
    .slider--services i {
        font-size: 2em;
        position: absolute
    }
}

.room {
    position: relative;
    margin-bottom: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden
}

.room img, .room picture {
    display: block;
    width: 100%;
    height: 100%
}

.room .room__info {
    position: absolute;
    max-width: 17em;
    z-index: 2;
    text-align: center
}

.room .room__info p {
    margin: 0
}

.room .room__info h4 {
    margin-bottom: .65em
}

.room:hover {
    color: #4A3D33
}

.room:last-of-type {
    margin-bottom: 0
}

@media (min-width: 40em) {
    .room {
        max-width: 30%;
        margin-bottom: 2em;
        float: left;
        margin-right: 2em
    }
    .room:nth-of-type(3n+3) {
        margin-right: 0
    }
    .room .room__info {
        max-width: 12em
    }
    .room .room__info p {
        font-size: .975em;
        line-height: 1.1
    }
}

@media (min-width: 60em) {
    .room .room__info, .room img, .room picture {
        -webkit-transition: all 0.6s cubic-bezier(0.71, -0.33, 0.21, 1.53);
        transition: all 0.6s cubic-bezier(0.71, -0.33, 0.21, 1.53);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1.0
    }
    .room img, .room picture {
        -webkit-transition-timing-function: cubic-bezier(0.82, -0.59, 0.17, 1.31);
        transition-timing-function: cubic-bezier(0.82, -0.59, 0.17, 1.31)
    }
    .room:hover .room__info {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
    .room:hover img, .room:hover picture {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
}
