<%= stylesheet_link_tag "apartments", media: "all" %>

<div style="display: flex">

	<div style="flex: 1">
		<div class="carousel">
		  <div><img src="/img/studios/carousel_1.jpg" /></div>
		  <div><img src="/img/studios/carousel_2.jpg" /></div>
		  <div><img src="/img/studios/carousel_3.jpg" /></div>
		  <div><img src="/img/studios/carousel_4.jpg" /></div>
		</div>
	</div>

	<div class="amenities" style='flex: 1; padding-left: 60px;'><%= raw I18n.t('studios.carousel_column') %></div>

</div>

<%= raw I18n.t('studios.main_text') %>

<br/>

<script type="text/javascript">
$(document).ready(function(){
  $('.carousel').slick({
	  dots: true,
	  variableWidth: true,
	  adaptiveHeight: true,
	  autoplay: true
  });
});

</script>
