<head id="www.residence-eburnea.com" data-template-set="html5-reset-wordpress-theme">
	<%= render "shared/head" %>
</head>
<body class="home page-template page-template-page-home page-template-page-home-php page page-id-6">
	<div id="wrapper">
		<%= render "shared/navigation" %>
		<%= yield %>
		<%= render "shared/footer" %>
	</div>
	<script src="http://www.residence-eburnea.com/wp-content/themes/residencerb/_/js/core.js"></script>
</body>
</html>
